@model IEnumerable<CARMEN.Models.CATEGORIA>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de catergorias</h2>

<p>
    @Html.ActionLink("Crear Categoría", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @{
                string srcImage = "/Content/Images/productIcon.png";
                if (item.DESCRIPCION != "NA")
                {
                    srcImage = "/Content/ImgCategorias/" + item.DESCRIPCION;
                }
                <img src="@srcImage" width="50" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_CATEGORIA }) |
            @Html.ActionLink("Detaille", "Details", new { id = item.ID_CATEGORIA }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_CATEGORIA })
        </td>
    </tr>
}

</table>
