<!DOCTYPE html>
<html>
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Sistema de Ventas BCarmen</title>
        <link rel="stylesheet" href="~/Content/Icons/style.css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

 

    <!-- Fontfaces CSS-->
    <link href="~/Template/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Template/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Template/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Template/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Template/css/theme.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Template/images/logo.jpg" width="35" alt="Logo" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li>
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="fas  fa-home"></i>
                                    <span class="bot-line"></span>Inicio
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Ventas")">
                                    <i class="fas  fa-tags"></i>
                                    <span class="bot-line"></span>Nueva Venta
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Register", "Ventas")">
                                    <i class="fas fa-magic"></i>
                                    <span class="bot-line"></span>Nuevo Pedido
                                </a>
                            </li>

                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas  fa-shopping-cart"></i>
                                    <span class="bot-line"></span>Funciones Admin
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="@Url.Action( "Index", "Usuarios")">
                                            <i class="fas fa-users"></i>
                                            <span class="bot-line"></span>Usuarios
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Sucursals")">
                                            <i class="fas  fa-hospital-o"></i>
                                            <span class="bot-line"></span>Sucursales
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas  fa-shopping-cart"></i>
                                    <span class="bot-line"></span>Productos
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="@Url.Action("Index", "Productos")"><i class="fas fa-list-ul"></i>Lista de productos</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Categorias")"> <i class="fas fa-sitemap"></i>Categorias</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Observasiones")"><i class="fas fa-eye"></i>Observaciones</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-desktop"></i>
                                    <span class="bot-line"></span>Ventas
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="@Url.Action( "Index", "Ventas", new { eVent= 1})"><i class="fas  fa-fire"></i>Ventas Pendientes</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action( "Index", "Ventas", new { eVent= 2})"><i class="fas fa-check-square"></i>Ventas Realizadas</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__title">
                                    <p>You have 3 Notifications</p>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a email notification</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c2 img-cir img-40">
                                        <i class="zmdi zmdi-account-box"></i>
                                    </div>
                                    <div class="content">
                                        <p>Your account has been blocked</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c3 img-cir img-40">
                                        <i class="zmdi zmdi-file-text"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a new file</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__footer">
                                    <a href="#">All notifications</a>
                                </div>
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="~/Template/images/avatar-male2.png" alt="John Doe" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">john doe</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/Template/images/avatar-male2.png" alt="John Doe" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">john doe</a>
                                            </h5>
                                            <span class="email">johndoe@example.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account
                                            </a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting
                                            </a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Billing
                                            </a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="#">
                                            <i class="zmdi zmdi-power"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->
        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="@Url.Action("Index", "Home")">
                            <img src="~/Template/images/logo.jpg" width="35" alt="Logo" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fas  fa-home"></i>
                                <span class="bot-line"></span>Inicio
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action( "Index", "Usuarios")">
                                <i class="fas fa-users"></i>
                                <span class="bot-line"></span>Usuarios
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Sucursals")">
                                <i class="fas  fa-hospital-o"></i>
                                <span class="bot-line"></span>Sucursales
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Ventas")">
                                <i class="fas  fa-tags"></i>
                                <span class="bot-line"></span>Nueva Venta
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register", "Ventas")">
                                <i class="fas fa-magic"></i>
                                <span class="bot-line"></span>Nuevo Pedido
                            </a>
                        </li>

                        <li class="has-sub">
                            <a href="#">
                                <i class="fas  fa-shopping-cart"></i>
                                <span class="bot-line"></span>Productos
                            </a>
                            <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href="@Url.Action("Index", "Productos")"><i class="fas fa-list-ul"></i>Lista de productos</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Categorias")"> <i class="fas fa-sitemap"></i>Categorias</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Observasiones")"><i class="fas fa-eye"></i>Observaciones</a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-sub">
                            <a href="#">
                                <i class="fas fa-desktop"></i>
                                <span class="bot-line"></span>Ventas
                            </a>
                            <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href="@Url.Action( "Index", "Ventas", new { eVent= 1})"><i class="fas  fa-fire"></i>Ventas Pendientes</a>
                                </li>
                                <li>
                                    <a href="@Url.Action( "Index", "Ventas", new { eVent= 2})"><i class="fas fa-check-square"></i>Ventas Realizadas</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                        <div class="notifi__title">
                            <p>You have 3 Notifications</p>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c1 img-cir img-40">
                                <i class="zmdi zmdi-email-open"></i>
                            </div>
                            <div class="content">
                                <p>You got a email notification</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c2 img-cir img-40">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="content">
                                <p>Your account has been blocked</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c3 img-cir img-40">
                                <i class="zmdi zmdi-file-text"></i>
                            </div>
                            <div class="content">
                                <p>You got a new file</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__footer">
                            <a href="#">All notifications</a>
                        </div>
                    </div>
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="~/Template/images/avatar-male2.png" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">john doe</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="~/Template/images/avatar-male2.png" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">john doe</a>
                                    </h5>
                                    <span class="email">johndoe@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing
                                    </a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->

        <div class="page-content--bgf7">
            @RenderBody()
            @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Cafetería tradicional Sara</p>
            </footer>*@
        </div>
        <!-- Jquery JS-->
        <script src="~/Template/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/Template/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/Template/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/Template/vendor/slick/slick.min.js">
        </script>
        <script src="~/Template/vendor/wow/wow.min.js"></script>
        <script src="~/Template/vendor/animsition/animsition.min.js"></script>
        <script src="~/Template/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="~/Template/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/Template/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="~/Template/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/Template/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/Template/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/Template/vendor/select2/select2.min.js">
        </script>

        <!-- Main JS-->
        <script src="~/Template/js/main.js"></script>

        @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    </div>
</body>
</html>
