@model CARMEN.Models.VENTA

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VENTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_VENTA.NOMBRE_ESTADOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_VENTA.NOMBRE_ESTADOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.CEDULA_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.CEDULA_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.NOMBRE_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOMBRE_CLIENTE)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.FECHA_VENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_VENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NRO_FACTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRO_FACTURA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAVE_ACCESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVE_ACCESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NRO_PEDIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRO_PEDIDO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
