@model CARMEN.Models.VENTA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VENTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_VENTA.NOMBRE_ESTADOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_VENTA.NOMBRE_ESTADOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.CEDULA_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.CEDULA_USUARIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.NOMBRE_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.NOMBRE_CLIENTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COD_VENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_VENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_VENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_VENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NRO_FACTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRO_FACTURA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAVE_ACCESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVE_ACCESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NRO_PEDIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRO_PEDIDO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_VENTA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
