@model IEnumerable<CARMEN.Models.PRODUCTO>

@{
    ViewBag.Title = "Index";
}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Listado de productos</h3>
                <div class="table-data__tool">
                    @*<div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Properties</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters
                            </button>
                        </div>*@
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="location.href = '@Url.Action("Create")'">
                            <i class="zmdi zmdi-plus"></i>Nueva Producto
                        </button>
                        @*<div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>*@
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CATEGORIA.NOMBRE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.COD_PRODUCTO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NOMBRE_PRODUCTO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PRECIO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FOTO_PRODUCTO)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="tr-shadow">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CATEGORIA.NOMBRE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.COD_PRODUCTO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NOMBRE_PRODUCTO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PRECIO)
                                    </td>
                                    <td>
                                        @{
                                             string srcImage = "/Content/Images/productIcon.png";
                                             if (item.FOTO_PRODUCTO != "NA")
                                             {
                                               srcImage = "/Content/ImgProducts/" + item.FOTO_PRODUCTO;
                                             }
                                            <img src="@srcImage" width="50" />
                                         }
                                    </td>
                                    <td>
                                        <!--Html.ActionLink("Edit", "Edit", new { id = item.ID_VENTA }) | -->
                                        <button onclick="location.href = '@Url.Action("Details", new { id=item.ID_PRODUCTO})'" class="item" data-toggle="tooltip" data-placement="top" title="Detalles">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                        <!--Html.ActionLink("Delete", "Delete", new { id = item.ID_VENTA })  -->
                                    </td>
                                    <td>
                                        <button onclick="location.href = '@Url.Action("Edit", new { id=item.ID_PRODUCTO})'" class="item" data-toggle="tooltip" data-placement="top" title="Editar">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->




