@model CARMEN.Models.DET_PAGO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DET_PAGO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.METODO_PAGO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.METODO_PAGO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENTA.COD_VENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENTA.COD_VENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DETPAGO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
