@model IEnumerable<CARMEN.Models.DET_PAGO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.METODO_PAGO.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VENTA.COD_VENTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.METODO_PAGO.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VENTA.COD_VENTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_DETPAGO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_DETPAGO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_DETPAGO })
        </td>
    </tr>
}

</table>
